<p>
  <%= label_tag :settings_project, l(:project_custom_style_page) %>
  <%= text_field_tag "settings[page]", @settings["page"] %>
  <span class="hint"><%= l(:project_custom_style_page_hint) %></span>
</p>